@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


body {
  background-color: #e5e5f7;
  background-image: linear-gradient(#3b69ddab 2.7px, transparent 2.7px),
    linear-gradient(to right, #3b69ddab 2.7px, #e5e5f7 2.7px);
  background-size: 54px 54px;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.merienda {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
